:root {
	--bg-colour-1: rgba(130, 48, 151, 0.7);
	--bg-colour-2: rgba(184, 103, 158, 0.7);
	font-family: monospace;
}

* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	background-image:
		url('$lib/assets/interiorSupa.png'),
		linear-gradient(180deg, var(--bg-colour-2), var(--bg-colour-1));
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

button {
	padding: 0.5rem;
	cursor: pointer;
	font-weight: bold;
	background-color: #28144d;
	color: white;
	font-size: 1rem;
}

button:disabled {
	background-color: #3d3747;
	color: #ffffff7e;
}

button:enabled:active {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 700px) {
	body {
		background-image:
			url('$lib/assets/insideMobile.png'),
			linear-gradient(180deg, var(--bg-colour-2), var(--bg-colour-1));
	}

	* {
		-webkit-tap-highlight-color: transparent;
	}
}
