:root {
	--bg-colour-1: #833097;
	--bg-colour-2: #b8679f;
}

* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	background-image: linear-gradient(180deg, var(--bg-colour-2), var(--bg-colour-1));
	color: white;
}

button {
	padding: 0.5rem;
	cursor: pointer;
	font-weight: bold;
	background-color: #28144d;
	color: white;
	font-size: 1rem;
}

button:active {
	transform: scale(0.9);
}
